<div class="modal-header">
  <h1 class="modal-title">Loan Asset</h1>
  <h4 *ngIf="showError" style="color: red">Fill all details!!</h4>
</div>
<div class="modal-content">
  <div class="form-group">
    <label for="custom-select" class="label-text text-start"
      >Loaning Supervisor</label
    >
    <select
      class="select text-start R1 rounded w-100 border px-0"
      [formControl]="loaningSupervisor"
    >
      <option [ngValue]="null" disabled selected>Select a Supervisor</option>
      <ng-container *ngFor="let val of userData">
        <option *ngIf="val.role === 'Supervisor'" [ngValue]="val">
          {{ val.firstName }} {{ val.lastName }}
        </option>
      </ng-container>
    </select>
  </div>

  <div class="form-group">
    <label for="custom-select" class="label-text text-start">Student</label>
    <select
      class="select text-start R1 rounded w-100 border px-0"
      [formControl]="student"
    >
      <option [ngValue]="null" disabled selected>Select a Student</option>
      <ng-container *ngFor="let val of userData">
        <option *ngIf="val.role === 'Student'" [ngValue]="val">
          {{ val.firstName }} {{ val.lastName }}
        </option>
      </ng-container>
    </select>
  </div>

  <div class="form-group">
    <label for="custom-select" class="label-text text-start">Asset</label>
    <select
      class="select text-start R1 rounded w-100 border px-0"
      [formControl]="asset"
    >
      <option [ngValue]="null" selected disabled>Select an Asset</option>
      <option *ngFor="let val of assetData" [ngValue]="val">
        {{ val.name }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="custom-select" class="label-text text-start">Issue Date</label>
    <input
      class="text-start R2 rounded w-100 border text-uppercase px-2"
      type="date"
      id="datePicker"
      [formControl]="loanDate"
    />
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-secondary"
    data-bs-dismiss="modal"
    (click)="closeModal()"
  >
    Cancel
  </button>
  <button class="btn btn-primary" type="submit" (click)="onFormSubmit()">
    Save
  </button>
</div>
